In [1]:
import pandas as pd
import json
import re
import os

In [2]:
df=pd.read_csv('Dushyant.csv')

In [3]:
df.head(5)

,TITLE,JSON RESPONSE,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Computer Literacy (PC),NaN,"{\n ""id"": 1540236,\n ""name"": ""Computer L...",NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,Microsoft Windows\r,NaN,"{\n ""id"": 389,\n ""name"": ""Microsoft Wind...",NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,Google Slides,NaN,"{\n ""id"": 691565,\n ""name"": ""Google Slid...",NaN,NaN
...,...,...,...,...,...
187,B2C Telesales (Multimedia),NaN,"{\n ""id"": 2730216,\n ""name"": ""B2C Telesa...",NaN,NaN
188,Content strategy,NaN,"{\n ""id"": 540679,\n ""name"": ""Content str...",NaN,NaN
189,\r\nRetail Sales,NaN,"{\n ""id"": 949737,\n ""name"": ""Retail Sale...",NaN,NaN
190,Restaurant Management,NaN,"{\n ""id"": 1055916,\n ""name"": ""Restaurant...",NaN,NaN
191,\r\nSalesforce CRM,NaN,"{\n ""id"": 1172639,\n ""name"": ""Salesforce...",NaN,NaN

In [4]:
df['JSON RESPONSE'].isnull().sum()

np.int64(192)

In [5]:
df.drop(columns=['JSON RESPONSE'], inplace=True)

In [6]:
df.head(2)

,TITLE,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Computer Literacy (PC),"{\n ""id"": 1540236,\n ""name"": ""Computer L...",NaN,NaN
1,NaN,NaN,NaN,NaN

In [7]:
df['JSON RESPONSE'] = df['JSON RESPONSE'].fillna(df[['Unnamed: 3', 'Unnamed: 4']].bfill(axis=1).iloc[:, 0], inplace=True)

KeyError: 'JSON RESPONSE'

In [ ]:
df.head()

In [ ]:
df.isnull().sum()