In [1]:
import pandas as pd
import json
import re
import os
from pathlib import Path
import xlsxwriter

In [2]:
df=pd.read_csv('Dushyant.csv')

In [3]:
df

,TITLE,JSON RESPONSE,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Computer Literacy (PC),NaN,"{\n ""id"": 1540236,\n ""name"": ""Computer L...",NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,Microsoft Windows\r,NaN,"{\n ""id"": 389,\n ""name"": ""Microsoft Wind...",NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,Google Slides,NaN,"{\n ""id"": 691565,\n ""name"": ""Google Slid...",NaN,NaN
...,...,...,...,...,...
187,B2C Telesales (Multimedia),NaN,"{\n ""id"": 2730216,\n ""name"": ""B2C Telesa...",NaN,NaN
188,Content strategy,NaN,"{\n ""id"": 540679,\n ""name"": ""Content str...",NaN,NaN
189,\r\nRetail Sales,NaN,"{\n ""id"": 949737,\n ""name"": ""Retail Sale...",NaN,NaN
190,Restaurant Management,NaN,"{\n ""id"": 1055916,\n ""name"": ""Restaurant...",NaN,NaN
191,\r\nSalesforce CRM,NaN,"{\n ""id"": 1172639,\n ""name"": ""Salesforce...",NaN,NaN

In [4]:
df.tail(50)

,TITLE,JSON RESPONSE,Unnamed: 2,Unnamed: 3,Unnamed: 4
142,Sage 300,NaN,"{\n ""id"": 779949,\n ""name"": ""Sage 300"",\...",NaN,NaN
143,Purchase Executive (Overseas Procurement),NaN,NaN,"{\n ""id"": 536660,\n ""name"": ""Purchase Ex...",NaN
144,\r\nBig 5 (OCEAN),NaN,"{\n ""id"": 494,\n ""name"": ""Big 5 (OCEAN)""...",NaN,NaN
145,DISC,NaN,"{\n ""id"": 1505066,\n ""name"": ""DISC"",\n ...",NaN,NaN
146,Critical Thinking,NaN,"{\n ""id"": 1675716,\n ""name"": ""Critical T...",NaN,NaN
147,Negotiation,NaN,"{\n ""id"": 1325346,\n ""name"": ""Negotiatio...",NaN,NaN
148,Leadership and People Management,NaN,NaN,"{\n ""id"": 39438,\n ""name"": ""Leadership a...",NaN
149,Digital Agility\r,NaN,"{\n ""id"": 1372827,\n ""name"": ""Digital Ag...",NaN,NaN
150,Design Thinking,NaN,"{\n ""id"": 1310654,\n ""name"": ""Design Thi...",NaN,NaN
151,\r\nAttention to Detail (Visual),NaN,"{\n ""id"": 1149495,\n ""name"": ""Attention ...",NaN,NaN
152,Communication (Intermediate),NaN,"{\n ""id"": 1200863,\n ""name"": ""Communicat...",NaN,NaN
153,\r\nTraining and Development,NaN,"{\n ""id"": 1303766,\n ""name"": ""Training a...",NaN,NaN
154,Enneagram,NaN,"{\n ""id"": 1505028,\n ""name"": ""Enneagram""...",NaN,NaN
155,Business Ethics & Compliance,NaN,"{\n ""id"": 1765864,\n ""name"": ""Business E...",NaN,NaN
156,16 Types,NaN,"{\n ""id"": 1505022,\n ""name"": ""16 Types"",...",NaN,NaN
157,Performance Management,NaN,"{\n ""id"": 1734145,\n ""name"": ""Performanc...",NaN,NaN
158,Store First-Line Management,NaN,"{\n ""id"": 1496174,\n ""name"": ""Store Firs...",NaN,NaN
159,Natural Language Processing (NLP),NaN,NaN,"{\n ""id"": 1107911,\n ""name"": ""Natural La...",NaN
160,Machine Learning in Google Cloud Platform (GCP),NaN,NaN,"{\n ""id"": 1256996,\n ""name"": ""Machine Le...",NaN
161,\r\nMachine Learning,NaN,"{\n ""id"": 789506,\n ""name"": ""Machine Lea...",NaN,NaN
162,Machine Learning in Amazon Web Services (AWS),NaN,NaN,"{\n ""id"": 1210659,\n ""name"": ""Machine Le...",NaN
163,TensorFlow,NaN,"{\n ""id"": 968822,\n ""name"": ""TensorFlow""...",NaN,NaN
164,Artificial Intelligence,NaN,"{\n ""id"": 841154,\n ""name"": ""Artificial ...",NaN,NaN
165,Computer Vision,NaN,"{\n ""id"": 1344661,\n ""name"": ""Computer V...",NaN,NaN
166,Scikit-learn,NaN,"{\n ""id"": 979786,\n ""name"": ""Scikit-lear...",NaN,NaN
167,Machine Learning in Azure,NaN,"{\n ""id"": 1223469,\n ""name"": ""Machine Le...",NaN,NaN
168,Multi-Task Learning (MTL),NaN,"{\n ""id"": 1342660,\n ""name"": ""Multi-Task...",NaN,NaN
169,Keras,NaN,"{\n ""id"": 631805,\n ""name"": ""Keras"",\n ...",NaN,NaN
170,Deep Learning,NaN,"{\n ""id"": 2100044,\n ""name"": ""Deep Learn...",NaN,NaN
171,Reinforcement Learning (RL),NaN,"{\n ""id"": 1126465,\n ""name"": ""Reinforcem...",NaN,NaN
172,PyTorch,NaN,"{\n ""id"": 956438,\n ""name"": ""PyTorch"",\n...",NaN,NaN
173,B2B Sales Account Executive,NaN,"{\n ""id"": 835083,\n ""name"": ""B2B Sales A...",NaN,NaN
174,Account Management\r,NaN,"{\n ""id"": 440,\n ""name"": ""Account Manage...",NaN,NaN
175,HubSpot CRM,NaN,"{\n ""id"": 972379,\n ""name"": ""HubSpot CRM...",NaN,NaN
176,B2B Outside Sales,NaN,"{\n ""id"": 1503067,\n ""name"": ""B2B Outsid...",NaN,NaN
177,Merchandise Planner,NaN,"{\n ""id"": 830762,\n ""name"": ""Merchandise...",NaN,NaN
178,Public Relations Strategy,NaN,"{\n ""id"": 1179099,\n ""name"": ""Public Rel...",NaN,NaN
179,B2C Growth Marketing (Ecommerce),NaN,NaN,"{\n ""id"": 598357,\n ""name"": ""B2C Growth ...",NaN
180,B2B Sales Management (Manufacturing and Softwa...,NaN,NaN,NaN,"{\n ""id"": 990150,\n ""name"": ""B2B Sales M..."
181,\r\nMarket Research,NaN,"{\n ""id"": 746015,\n ""name"": ""Market Rese...",NaN,NaN
182,Marketing Analytics\r,NaN,"{\n ""id"": 1012236,\n ""name"": ""Marketing ...",NaN,NaN
183,Zoho CRM,NaN,"{\n ""id"": 1371858,\n ""name"": ""Zoho CRM"",...",NaN,NaN
184,Market Analysis,NaN,"{\n ""id"": 750895,\n ""name"": ""Market Anal...",NaN,NaN
185,B2B Sales Lead Generation,NaN,"{\n ""id"": 818989,\n ""name"": ""B2B Sales L...",NaN,NaN
186,Social Media Community Management,NaN,NaN,"{\n ""id"": 1065742,\n ""name"": ""Social Med...",NaN
187,B2C Telesales (Multimedia),NaN,"{\n ""id"": 2730216,\n ""name"": ""B2C Telesa...",NaN,NaN
188,Content strategy,NaN,"{\n ""id"": 540679,\n ""name"": ""Content str...",NaN,NaN
189,\r\nRetail Sales,NaN,"{\n ""id"": 949737,\n ""name"": ""Retail Sale...",NaN,NaN
190,Restaurant Management,NaN,"{\n ""id"": 1055916,\n ""name"": ""Restaurant...",NaN,NaN
191,\r\nSalesforce CRM,NaN,"{\n ""id"": 1172639,\n ""name"": ""Salesforce...",NaN,NaN

In [5]:
df.shape

(192, 5)

In [6]:
df.isnull().sum()

TITLE              3
JSON RESPONSE    192
Unnamed: 2        26
Unnamed: 3       171
Unnamed: 4       190
dtype: int64

In [7]:
df = df.dropna(axis=0, how='all')
df.shape

(189, 5)

In [8]:
df.columns

Index(['TITLE', 'JSON RESPONSE', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [9]:
df = df.rename(columns={'Unnamed: 2': 'data1', 'Unnamed: 3': 'data2', 'Unnamed: 4': 'data3'})
df

,TITLE,JSON RESPONSE,data1,data2,data3
0,Computer Literacy (PC),NaN,"{\n ""id"": 1540236,\n ""name"": ""Computer L...",NaN,NaN
2,Microsoft Windows\r,NaN,"{\n ""id"": 389,\n ""name"": ""Microsoft Wind...",NaN,NaN
4,Google Slides,NaN,"{\n ""id"": 691565,\n ""name"": ""Google Slid...",NaN,NaN
6,Microsoft PowerPoint,NaN,"{\n ""id"": 1802215,\n ""name"": ""Microsoft ...",NaN,NaN
7,macOS,NaN,"{\n ""id"": 989959,\n ""name"": ""macOS"",\n ...",NaN,NaN
...,...,...,...,...,...
187,B2C Telesales (Multimedia),NaN,"{\n ""id"": 2730216,\n ""name"": ""B2C Telesa...",NaN,NaN
188,Content strategy,NaN,"{\n ""id"": 540679,\n ""name"": ""Content str...",NaN,NaN
189,\r\nRetail Sales,NaN,"{\n ""id"": 949737,\n ""name"": ""Retail Sale...",NaN,NaN
190,Restaurant Management,NaN,"{\n ""id"": 1055916,\n ""name"": ""Restaurant...",NaN,NaN
191,\r\nSalesforce CRM,NaN,"{\n ""id"": 1172639,\n ""name"": ""Salesforce...",NaN,NaN

In [10]:
df['JSON RESPONSE'] = df[['data1', 'data2', 'data3']].apply(lambda row: ', '.join(row.dropna()), axis=1)
df = df.drop(columns=['data1', 'data2', 'data3'])
df

,TITLE,JSON RESPONSE
0,Computer Literacy (PC),"{\n ""id"": 1540236,\n ""name"": ""Computer L..."
2,Microsoft Windows\r,"{\n ""id"": 389,\n ""name"": ""Microsoft Wind..."
4,Google Slides,"{\n ""id"": 691565,\n ""name"": ""Google Slid..."
6,Microsoft PowerPoint,"{\n ""id"": 1802215,\n ""name"": ""Microsoft ..."
7,macOS,"{\n ""id"": 989959,\n ""name"": ""macOS"",\n ..."
...,...,...
187,B2C Telesales (Multimedia),"{\n ""id"": 2730216,\n ""name"": ""B2C Telesa..."
188,Content strategy,"{\n ""id"": 540679,\n ""name"": ""Content str..."
189,\r\nRetail Sales,"{\n ""id"": 949737,\n ""name"": ""Retail Sale..."
190,Restaurant Management,"{\n ""id"": 1055916,\n ""name"": ""Restaurant..."
191,\r\nSalesforce CRM,"{\n ""id"": 1172639,\n ""name"": ""Salesforce..."

In [11]:
def is_valid_json(json_string):
    try:
        json.loads(json_string)
        return True
    except Exception as er:
        print('The err is', er)
        return False
df = df[df['JSON RESPONSE'].apply(is_valid_json)]

In [12]:
# df['JSON RESPONSE'].iloc[0]

In [13]:
def extract_type(json_string):
    try:
        json_data = json.loads(json_string)
        if isinstance(json_data.get('type', None), list) and len(json_data['type']) > 0:
            return json_data['type'][0].get('name', None)

        else:
            return None
    except Exception as err:
        print('The error is :', err)
        return None
df['TYPE'] = df['JSON RESPONSE'].apply(extract_type)
df

,TITLE,JSON RESPONSE,TYPE
0,Computer Literacy (PC),"{\n ""id"": 1540236,\n ""name"": ""Computer L...",Software skills
2,Microsoft Windows\r,"{\n ""id"": 389,\n ""name"": ""Microsoft Wind...",Software skills
4,Google Slides,"{\n ""id"": 691565,\n ""name"": ""Google Slid...",Software skills
6,Microsoft PowerPoint,"{\n ""id"": 1802215,\n ""name"": ""Microsoft ...",Software skills
7,macOS,"{\n ""id"": 989959,\n ""name"": ""macOS"",\n ...",Software skills
...,...,...,...
187,B2C Telesales (Multimedia),"{\n ""id"": 2730216,\n ""name"": ""B2C Telesa...",Role-specific skills
188,Content strategy,"{\n ""id"": 540679,\n ""name"": ""Content str...",Role-specific skills
189,\r\nRetail Sales,"{\n ""id"": 949737,\n ""name"": ""Retail Sale...",Role-specific skills
190,Restaurant Management,"{\n ""id"": 1055916,\n ""name"": ""Restaurant...",Role-specific skills
191,\r\nSalesforce CRM,"{\n ""id"": 1172639,\n ""name"": ""Salesforce...",Software skills

In [14]:
def extract_questions(json_string):
    try:
        json_data = json.loads(json_string)
        return json_data.get('preview_questions', None)
        
    except Exception as err:
        print('The error is:', err)
        return None
df['questions'] = df['JSON RESPONSE'].apply(extract_questions)
df

,TITLE,JSON RESPONSE,TYPE,questions
0,Computer Literacy (PC),"{\n ""id"": 1540236,\n ""name"": ""Computer L...",Software skills,"[{'id': 1322841, 'text': '<p>Which of the foll..."
2,Microsoft Windows\r,"{\n ""id"": 389,\n ""name"": ""Microsoft Wind...",Software skills,"[{'id': 18083, 'text': '<p>How would you make ..."
4,Google Slides,"{\n ""id"": 691565,\n ""name"": ""Google Slid...",Software skills,"[{'id': 431881, 'text': '<p>You are a technolo..."
6,Microsoft PowerPoint,"{\n ""id"": 1802215,\n ""name"": ""Microsoft ...",Software skills,"[{'id': 1466270, 'text': '<p><span style=""back..."
7,macOS,"{\n ""id"": 989959,\n ""name"": ""macOS"",\n ...",Software skills,"[{'id': 771079, 'text': '<p>The top left corne..."
...,...,...,...,...
187,B2C Telesales (Multimedia),"{\n ""id"": 2730216,\n ""name"": ""B2C Telesa...",Role-specific skills,"[{'id': 2097979, 'text': '<p>You work for a fi..."
188,Content strategy,"{\n ""id"": 540679,\n ""name"": ""Content str...",Role-specific skills,"[{'id': 358741, 'text': '<p>You just started a..."
189,\r\nRetail Sales,"{\n ""id"": 949737,\n ""name"": ""Retail Sale...",Role-specific skills,"[{'id': 706356, 'text': '<p>You work in the te..."
190,Restaurant Management,"{\n ""id"": 1055916,\n ""name"": ""Restaurant...",Role-specific skills,"[{'id': 886513, 'text': '<p>As the new manager..."
191,\r\nSalesforce CRM,"{\n ""id"": 1172639,\n ""name"": ""Salesforce...",Software skills,"[{'id': 1017546, 'text': '<p>You have just clo..."

In [15]:
def clean_htmls(text):
    text = re.sub(r"<.*?>", '', text)
    text = text.replace('\n', ' ')
    text = text.replace('&nbsp;', ' ')
    text = text.strip()
    return text

In [16]:
# df['questions'].iloc[0]

In [17]:
def format_questions(questions):
    formatted_questions = []
    if questions:
        for question in questions:
            formatted_question = {}
            
            formatted_question['title'] = question.get('text', '')
            if question.get('type') == 'multiple-choice':
                formatted_question['ques_type'] = 1
                options = [answer.get('text', '') for answer in question.get('answers', [])]
                formatted_question['options'] = options
                
                correct_option = next((answer.get('text', '') for answer in question.get('answers', [])
                                       if answer.get('score') == 5), None)
                formatted_question['score'] = correct_option
                
            elif question.get('type') == 'true-false':
                formatted_question['ques_type'] = 2
                formatted_question['options'] = ['true', 'false']
                
                correct_option = 'true' if any(answer.get('score') == 5 for answer in question.get('answers', [])) else 'false'
                formatted_question['score'] = correct_option
            
            formatted_questions.append(formatted_question)
    return formatted_questions




def extract_and_format_questions(json_string):
    try:
        json_data = json.loads(json_string)
        formatted_questions = format_questions(json_data.get('preview_questions', []))
        return formatted_questions
    except Exception as err:
        print('The error is:', err)
        return None
        
# df['formatted_questions'] = df['JSON RESPONSE'].apply(extract_and_format_questions)
df['questions'] = df['JSON RESPONSE'].apply(extract_and_format_questions)
df

,TITLE,JSON RESPONSE,TYPE,questions
0,Computer Literacy (PC),"{\n ""id"": 1540236,\n ""name"": ""Computer L...",Software skills,[{'title': '<p>Which of the following is <stro...
2,Microsoft Windows\r,"{\n ""id"": 389,\n ""name"": ""Microsoft Wind...",Software skills,[{'title': '<p>How would you make multiple lar...
4,Google Slides,"{\n ""id"": 691565,\n ""name"": ""Google Slid...",Software skills,[{'title': '<p>You are a technology product ow...
6,Microsoft PowerPoint,"{\n ""id"": 1802215,\n ""name"": ""Microsoft ...",Software skills,"[{'title': '<p><span style=""background-color: ..."
7,macOS,"{\n ""id"": 989959,\n ""name"": ""macOS"",\n ...",Software skills,[{'title': '<p>The top left corner of an appli...
...,...,...,...,...
187,B2C Telesales (Multimedia),"{\n ""id"": 2730216,\n ""name"": ""B2C Telesa...",Role-specific skills,[{'title': '<p>You work for a fitness center t...
188,Content strategy,"{\n ""id"": 540679,\n ""name"": ""Content str...",Role-specific skills,[{'title': '<p>You just started a new role as ...
189,\r\nRetail Sales,"{\n ""id"": 949737,\n ""name"": ""Retail Sale...",Role-specific skills,[{'title': '<p>You work in the technology depa...
190,Restaurant Management,"{\n ""id"": 1055916,\n ""name"": ""Restaurant...",Role-specific skills,[{'title': '<p>As the new manager at a restaur...
191,\r\nSalesforce CRM,"{\n ""id"": 1172639,\n ""name"": ""Salesforce...",Software skills,[{'title': '<p>You have just closed an opportu...

In [18]:
df['questions'].iloc[1]

[{'title': '<p>How would you make multiple large files suitable for online transfer, without reducing the quality?</p>',
  'ques_type': 1,
  'options': ['<p>Open the files and remove content that requires large amounts of storage space (e.g. high quality pictures).</p>',
   '<p>Put them in a compressed (zip) folder.</p>',
   '<p>Upload the files to an online file compressor.</p>',
   '<p>Transfer all the files separately.</p>'],
  'score': '<p>Put them in a compressed (zip) folder.</p>'},
 {'title': '<p>What shortcut keys would you use to <strong>cut</strong> a paragraph from a Word document and paste it in an e-mail?</p>',
  'ques_type': 1,
  'options': ['<p>CTRL + C and CTRL + V</p>',
   '<p>CTRL + S and CTRL + F</p>',
   '<p>CTRL + X and CTRL + V</p>',
   '<p>CTRL + Q and CTRL + X</p>'],
  'score': '<p>CTRL + X and CTRL + V</p>'},
 {'title': '<p>How can you define a cursor?</p>',
  'ques_type': 1,
  'options': ['<p>A graphic pointer on the screen that shows the user where the mouse is.</p>',
   '<p>A virus on a computer that removes all internal memory.</p>',
   '<p>A symbol connected to a file that indicates the type of file (e.g. Word-document, PDF).</p>',
   '<p>A hacker that attempts to steal personal files from a computer.</p>'],
  'score': '<p>A graphic pointer on the screen that shows the user where the mouse is.</p>'},
 {'title': '<p>You created an invoice in Microsoft Word. You would like to send the invoice to a customer. However, the customer is not allowed to make any changes to the invoice. </p><p><br></p><p><strong>How would you make sure the customer cannot make any changes?</strong></p>',
  'ques_type': 1,
  'options': ['<p>Save the invoice as a PDF file.</p>',
   '<p>Save the invoice as a Fixed Text Document.</p>',
   '<p>Save the invoice as an RTF file.</p>',
   '<p>Save the invoice as a Word Template.</p>'],
  'score': '<p>Save the invoice as a PDF file.</p>'}]

In [19]:
df['TYPE'].unique()

array(['Software skills', 'Role-specific skills', 'Situational judgment',
       'Cognitive ability', 'Programming skills', 'Personality & culture'],
      dtype=object)

In [24]:
main_folder = 'File3'
os.makedirs(main_folder, exist_ok=True)

for _, row in df.iterrows():
    type_folder = os.path.join(main_folder, str(row['TYPE']))
    os.makedirs(type_folder, exist_ok=True)
    file_name = clean_htmls(row['TITLE']) + ".xlsx"
    file_path = os.path.join(type_folder, file_name)
    questions_data = "questions = " + clean_htmls(json.dumps(row['questions'], indent=4))

    questions_df = pd.DataFrame([questions_data])
    questions_df.reset_index(drop=True, inplace=True)
    try:
        with pd.ExcelWriter(file_path, engine='xlsxwriter') as writer:
            questions_df.to_excel(writer, index=False, header=False, sheet_name="Questions")
    except Exception as e:
        print(f"Error saving file {file_path}: {e}")

Error saving file File3\Role-specific skills\UX/UI Design.xlsx: Cannot save file into a non-existent directory: 'File3\Role-specific skills\UX'