In [1]:
import pandas as pd

In [11]:
data={'id':[1,2,3,4,5],'name':['ashu','shrma','vikki','sonu','ashuu'],'age':[10,12,13,14,15],'member':[10,12,13,15,45], 'class':['a','b','c','d','e']}

In [12]:
# df=pd.DataFrame(data,index=data["id"])
# df

KeyError: 'id'

In [56]:
data= [
    [1,2,3,4,5],
    ['ashu','sharma','vikki','sonu','ashu'],
    [10,12,14,15,20],
    [58,78,78,99,55],
    [5,4,6,8,9]
]
#-----------------------------------------------------------------------------
new=[[ data[j][i] for j in range(5)] for i in range(5)]
# for i in range(5):
#     out=[]
#     for j in range(5):
#             out.append(data[j][i])
#     new.append(out)
print(new)

#______________________________________________________________________________
df=pd.DataFrame(new,columns=['id','name','age','marks','class'])
df

[[1, 'ashu', 10, 58, 5], [2, 'sharma', 12, 78, 4], [3, 'vikki', 14, 78, 6], [4, 'sonu', 15, 99, 8], [5, 'ashu', 20, 55, 9]]

   id    name  age  marks  class
0   1    ashu   10     58      5
1   2  sharma   12     78      4
2   3   vikki   14     78      6
3   4    sonu   15     99      8
4   5    ashu   20     55      9